<nav class="loginbtn">
    <button id="login" class="login" onclick="document.getElementById('id02').style.display='none'">Login</button>
    <div id="id02" class="modal2">
        <span onclick="document.getElementById('id02').style.display='none'" id="close" class="close2" title="Close2 Modal2">&times;</span>
        <form class="modal-content2 animate" method="post">
            <div class="container2">
                <div class="avatar-position">
                    <div class="avatar"></div>
                </div>
                <hr>
                <label for="email"><b>Phone Number or Email</b></label>
                <input type="text" placeholder="Phone Number or Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button type="submit" class="signupbtn">Login</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>
</nav>