<div class="moon-center">
    <div class="div-two">
        <div class="planet img1"></div>
        <div class="planet moon1"></div>
    </div>
    <div class="div-three">
        <div class="planet img2"></div>
        <div class="planet moon2"></div>
    </div>
    <div class="div-four">
        <div class="planet img3"></div>
        <div class="planet moon3"></div>
    </div>
</div>