<nav class="right">
    <div class="content" >
        <p>
            <strong style="text-transform: uppercase; color: cyan;">Be a resident</strong> of a planet you believe you belong to!
        </p>
        <p>
            <strong style="text-transform: uppercase; color: cyan;">Represent</strong> your planet in the best image it can be!
        </p>
        <p>
            This <strong style="text-transform: uppercase; color: cyan;"> universe</strong> is running for you and by you!
        </p>
        <p>
            Your<strong style="text-transform: uppercase; color: cyan;"> voice</strong> and <strong style="text-transform: uppercase; color: cyan;">vote</strong> matter so much here, use them wisely!
        </p>

        <button id="signup" class="signup" onclick="document.getElementById('id01').style.display='block'">Get Your Planet</button>
    </div>
    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" id="close" class="close" title="Close Modal">&times;</span>
        <form class="modal-content animate" method="post">
            <div class="container">
                <h1 style="letter-spacing: 5px; text-align:center;">Start Your Residency</h1>
                <hr>
                <label for="email"><b>Phone Number or Email</b></label>
                <input type="text" placeholder="Phone Number or Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <label for="pln"><b>Choose a planet to live in</b></label>
                <ul class="c-planets">
                    <li  class="gaming line-planets planet"><img class="planet-menu-name" src="/img/gameWord.png"></li>
                    <li  class="music line-planets planet"><img class="planet-menu-name" src="/img/musicWord.png"></li>
                    <li  class="sports line-planets planet"><img class="planet-menu-name" src="/img/sportWord.png"></li>
                    <li  class="news line-planets planet"><img class="planet-menu-name" src="/img/news.png"></li>
                    <li  class="fashion line-planets planet"><img class="planet-menu-name" src="/img/fashionWord1.png"></li>
                    <li  class="unspin technology line-planets planet"><img class="planet-menu-name" src="/img/techWord1.png"></li>
                    <li  class="line-planets planet"></li>
                    <li  class="line-planets planet"></li>
                    <li  class="line-planets planet"></li>
                </ul>
                <br><br><br><br><br><br><br><br>
                <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                </label>

                <p>By creating an account you agree to MarsIN's <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                <div class="clearfix">
                    <button type="submit" class="signupbtn">Sign Up</button>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" id="cancelbtn" class="cancelbtn">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</nav>