body {
  color: #333;
  font-family: 'Poppins', sans-serif;
  margin: auto auto;
  background-image: url(/img/space.jpg);
  background-size: cover;
  align-items: center;
  background-position: center center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  /* zoom: 95%; */
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.head {
  display: flex;
  flex-direction: row;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
}

.search {
  position: relative;
  padding: 10px 25px;
  margin: auto auto;
}

.search input {
  width: 350px;
  height: 32px;
  color: #eee;
  background: black;
  border: 1px solid #aaa;
  border-radius: 5px;
  outline: none;
  padding: auto 50px;
}

.search input { 
  text-indent: 32px;
}

.search .fa-search { 
  position: absolute;
  top: 18px;
  left: 35px;
  color: #aaa;
  cursor: pointer;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  padding: 5px 55px 5px 10px;
  left: 10px;
  color: #eee;
}

#dropbtn {
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 5px 10px 5px 55px;
  font-size: 30px;
  right: 10px;
}

.main-content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 6rem;
}

.error-message {
  background-color: #eee; 
  color: #111; 
  text-align: center; 
  font-size: 32px;
  border-radius: 4px; 
  padding: 10px 15px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
  z-index: 4;
}

header {
  width: 100%;
  margin: 16px 50px 16px 50px;
  position: sticky;
}

.head {
  position: sticky;
}

center {
  margin: auto 250px auto 50px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #eee;
  margin: 0 12px;
  text-decoration: none;
}





input[type=text], input[type=password] {
  width: 96%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: rgba(68,68,68, 0.4);
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(68,68,68, 0.5);
  color: white;
  outline: none;
  font-size: 16px;
}

/* Set a style for all buttons */
button {
  background: #2196f3;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  float: right;
  margin-right: 50px;
  text-transform: uppercase;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #ff0000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  width: 45%;
  margin: 20px;
}

.signup {
  padding: 20px;
  background: rgb(255,191,0);
  color: black;
  font-weight: bold;
  font-size: 34px;
  margin:auto;
  float: none;
  width: 400px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /*Stay in place*/
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  overflow-x: hidden;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  background-image:url(/img/signup.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100%;
  -webkit-background-size: cover;
  background-position: center center;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 800px;
  border-radius: 8px;
  margin: auto;
  zoom: 145%;
}

.modal-content {
  background-color: rgba(71,78,93, 0);
  margin: auto auto; /* 5% from the top, 15% from the bottom and centered */
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  zoom: 200%;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix {
  content: "";
  clear: both;
  display: flex;
  flex-direction: row;
}

.right {
  margin: 0px 16px 0px 50px;
  padding: 0px 16px;
  zoom: 55%;
}

.content {
  background: rgba(51, 51, 51, 0.6);
  width: 750px;
  height: 770px;
  border-radius: 16px;
  padding: 15px;
  padding-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
  border: solid cyan 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content p {
  height: 150px;
}





/* LOGIN FORM */

.login {
  background-color: transparent;
  border: solid #ff08e8 4px;
  border-radius: 100%;
  outline: none;
  letter-spacing: 5px;
  width: 100px;
  padding: 8px 8px 8px 32px;
  font-size: 100%;
  background: url(/img/logo.png);
  background-position: 18px 6px;
  background-size: 20px;
  background-repeat: no-repeat;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.avatar {
  width: 100px;
  height: 100px;
  background-image: url(/img/icon1.PNG);
  background-size:cover;
  /* width: 40%; */
}

.avatar-position {
  margin: 0 222px 0 222px;
  padding: 0px auto;
}

.container2 {
  padding: 16px;
  background-image: url(/img/bright.png);
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100%;
  -webkit-background-size: cover;
  background-position: center center;
  border-radius: 8px;
  z-index: 5;
}

span.psw2 {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content2 {
  background-color: rgba(71,78,93, 0);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: none;
  width: 50%; /* Could be more or less, depending on screen size */
  margin: auto auto; /* 5% from the top, 15% from the bottom and centered */
}

/* The Close Button (x) */
.close2 {
  position: absolute;
  right: 25px;
  top: 0;
  color: #eee;
  font-size: 35px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* END OF LOGIN FORM */